name: Apigee X CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_APIGEE_SA_KEY }}
 
    
    - name: Install apigeecli
      run: |
        curl -L https://raw.githubusercontent.com/apigee/apigeecli/main/downloadLatest.sh | sh
        echo "$HOME/.apigeecli/bin" >> $GITHUB_PATH

    - name: Verify apigeecli
      run: |
        which apigeecli
        apigeecli --help
   
   
    - name: Import Apigee Proxy
      run: |
        apigeecli apis import -f proxies/hello-world/apiproxy --org  ${{ secrets.APIGEE_ORG }} --default-token
    
    - name: Verify Import
      run: |
        echo "Listing APIs in org..."
        apigeecli apis list --org ${{ secrets.APIGEE_ORG }}
        echo "Listing revisions for hello-world..."
        apigeecli apis revisions list --org ${{ secrets.APIGEE_ORG }} --name hello-world
