name: Apigee X CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_APIGEE_SA_KEY }}


   
    
    - name: Install apigeecli
      run: |
        curl -L https://raw.githubusercontent.com/apigee/apigeecli/main/downloadLatest.sh | sh
        echo "$HOME/.apigeecli/bin" >> $GITHUB_PATH

    - name: Verify apigeecli
      run: |
        which apigeecli
        apigeecli --help
          
          
    # ----------------------
    # 1. KVMs
    # ----------------------
    #- name: Create / Update KVMs
    #  run: |
    #    KVM_NAME=$(jq -r '.name' configs/dev/kvms.json)

     #   apigeecli kvms create           --org ${{ secrets.APIGEE_ORG }}           --env ${{ secrets.APIGEE_ENV }}           --name $KVM_NAME || true

      #  jq -r '.entries | to_entries[] | "\(.key)=\(.value)"' configs/dev/kvms.json |
       # while IFS='=' read key value; do
        #  apigeecli kvms entries create             --org ${{ secrets.APIGEE_ORG }}             --env ${{ secrets.APIGEE_ENV }}             --kvm $KVM_NAME             --name "$key"             --value "$value" || true
        #done

    # ----------------------
    # 2. SharedFlows
    # ----------------------
    - name: Verify Apigee access
      run: |
        apigeecli organizations list
    - name: List sharedflows folder
      run: |
        echo "Current working directory: $(pwd)"
        ls -l sharedflows/
    #- name: Deploy Shared Flow
    #  run: |
    #    apigeecli sharedflows bundle \
    #        -n SF-Security \
    #        --folder "$sf/sharedflowbundle" \
    #        --org ${{ secrets.APIGEE_ORG }} \
    #        --env ${{ secrets.APIGEE_ENV }}
    #        --token ${{ steps.auth.outputs.access_token }} \
    #        --ovr --wait
    #- name: Import & Deploy SharedFlow
    #  run: |
    #    apigeecli sharedflows import           --org ${{ secrets.APIGEE_ORG }}           --folder sharedflows/SF-Security  

     #   apigeecli sharedflows deploy           --org ${{ secrets.APIGEE_ORG }}           --env ${{ secrets.APIGEE_ENV }}           --name SF-Security

    # ----------------------
    # 3. API Proxies
    # ----------------------
    #- name: Import & Deploy API Proxy
    #  run: |
    #    apigeecli apis import           --org ${{ secrets.APIGEE_ORG }}                    -f proxies/hello-world          --default-token

     #   apigeecli apis deploy           --org ${{ secrets.APIGEE_ORG }}           --env ${{ secrets.APIGEE_ENV }}           --name hello-world
    
    - name: Import & Deploy API Proxy (latest revision)
      run: |
        apigeecli apis import --org ${{ secrets.APIGEE_ORG }} -f proxies/hello-world/apiproxy --default-token
      
        #LATEST_REV=$(apigeecli apis revisions list --org ${{ secrets.APIGEE_ORG }} --name hello-world | tail -n 1)
      
        echo "Deploying latest revision "
      
        apigeecli apis deploy  --org ${{ secrets.APIGEE_ORG }}  --env ${{ secrets.APIGEE_ENV }}    --name hello-world     --override   --default-token
      
