0s
Run mkdir -p apigee-bundles
Processing API proxy: hello-world
  adding: apiproxy/ (stored 0%)
  adding: apiproxy/policies/ (stored 0%)
  adding: apiproxy/policies/AM-PrintUserDetails.xml (deflated 59%)
  adding: apiproxy/hello-world.xml (deflated 50%)
  adding: apiproxy/targets/ (stored 0%)
  adding: apiproxy/targets/default.xml (deflated 45%)
  adding: apiproxy/proxies/ (stored 0%)
  adding: apiproxy/proxies/default.xml (deflated 51%)
Importing hello-world ...
Error: supplied path is not a folder
Error: Process completed with exit code 1.
