name: Deploy Apigee Proxy

on:
  push:
    branches:
      - main  # Change to your branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      APIGEE_ORG: ${{ secrets.APIGEE_ORG }}
      APIGEE_ENV: ${{ secrets.APIGEE_ENV }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Download and install apigeecli v2.16.0
        run: |
          curl -L \
            https://github.com/apigee/apigeecli/releases/download/v2.16.0/apigeecli_v2.16.0_Linux_x86_64.zip \
            -o apigeecli.zip
          unzip apigeecli.zip
          chmod +x apigeecli
          sudo mv apigeecli /usr/local/bin/
          apigeecli version

      - name: Zip API Proxy
        run: |
          cd proxies/hello-world
          zip -r hello-world.zi
